<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accesorios para gatos</ion-title>
    <ion-button (click)="goTocarrito()" color="secondary" slot="end">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://veterinariaelabrazo.cl/cdn/shop/products/Cama_felpa_morada_perro_gato_600x_15572b3f-1861-4342-88f3-0680b3f53048_800x.jpg?v=1630958717" />
    <ion-card-header>
      <ion-card-title>{{ listaProductos.nombre_producto }}</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;">{{ listaProductos.descripcion }}
        <br><br><br>
        {{ listaProductos.precio }}
      
      </ion-card-title>
    </ion-card-header>
    <ion-card-title>
      <ion-button >Añadir al carrito</ion-button>
    </ion-card-title>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camagato</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
