<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accesorios para gatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://veterinariaelabrazo.cl/cdn/shop/products/Cama_felpa_morada_perro_gato_600x_15572b3f-1861-4342-88f3-0680b3f53048_800x.jpg?v=1630958717" />
    <ion-card-header>
      <ion-card-title>CAMA PARA GATO</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;">Cama hecha para gatos o cachorros, con un diseño que
         la vuelve un producto cómodo para tu mascota, quitando el estrés y proporcionando un lugar 
         adecuado para descansar.
        <br><br><br>
        $29.990
      
      </ion-card-title>
    </ion-card-header>
    <ion-card-title>
      <ion-button >Añadir al carrito</ion-button>
    </ion-card-title>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camagato</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
