<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Not Found</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="contenedor-centro" class="div">
    <img src="https://cdn.vectorstock.com/i/1000x1000/71/29/404-error-page-not-found-in-under-ocean-vector-21117129.webp" alt="xd">
  </div>
  
</ion-content>
