<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goToeditarpd()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Editar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://d2r9epyceweg5n.cloudfront.net/stores/120/791/products/119-comedero-inoxidable-para-perros-21-4e8921374258d7a05715122104378126-640-0.jpg" />
    <ion-card-header>
      <ion-card-title>COMEDERO PARA GATO</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;">Plato o tazón de acero inoxidable con anillo de goma negro antideslizante. 
        Perfecto para alimentar gatos. 
        Durable y ligero con material de acero inoxidable (no se oxida). Diseño especial con el flanco lateral 
        inclinado para ayudar a prevenir que su mascota vuelque el plato.

        Un anillo de goma alrededor de la base para evitar que su mascota lo empuje y cause daños o derrames.
        <br><br><br>
        $12.990
      
      </ion-card-title>
    </ion-card-header>
    <ion-card-title>
      <ion-button ><ion-icon name="pencil"></ion-icon></ion-button>
    </ion-card-title>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">edcomederogato</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
