<ion-menu id="secundario" menuId="end" contentId="menu-admin">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>HappyFootPrints</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-menu-toggle>
      <ion-button color="secondary" (click)="goToInicio()" size="default" expand="block"><ion-icon
          name="home-outline"> </ion-icon> Inicio</ion-button>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <ion-button color="secondary" (click)="goToProductos()" size="default" expand="block"><ion-icon name="paw-outline">
        </ion-icon> Productos</ion-button>
    </ion-menu-toggle>

    <ion-menu-toggle>
      <ion-button color="secondary" (click)="goToLogin()" size="default" expand="block"><ion-icon name="exit-outline">
        </ion-icon> Cerrar Sesión</ion-button>
    </ion-menu-toggle>


  </ion-content>
</ion-menu>

<ion-router-outlet id="menu-admin"></ion-router-outlet>