<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>gatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Accesorios para gatos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Cama para gato <br>Precio : $</ion-label>
        </ion-item>
        
      <br><br><br>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Casa para gato<br>Precio : $</ion-label>
        </ion-item>

      <br><br><br>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Comedero y Bebedero<br><br>Precio : $</ion-label>
        </ion-item>

        <br><br><br>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Juguete para gato<br>Precio : $</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gatos</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
