<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accesorios para perros</ion-title>
    <ion-button color="secondary" slot="end">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let x of listadoPerros">
    <ion-card *ngIf="x.categoria == 1">
      <ion-card-header>
        <img (click)="goTocamaperro(x)" alt="Silhouette of mountains" [src]="x.img" />
        <ion-button (click)="goTocamaperro(x)" fill="clear" color="dark"> {{ x.nombre_producto }} </ion-button>
      </ion-card-header>
      <ion-card-content style="text-align: center;">
        Precio : $ {{ x.precio }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>