<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accesorios para perros</ion-title>
    <ion-button (click)="goTocarrito()" color="secondary" slot="end">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" [src]="infoProducto.img" />
    <ion-card-header>
      <ion-card-title>{{ infoProducto.nombre_producto }}</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;"> {{ infoProducto.descripcion }}
      
        <br><br><br>
        $ {{ infoProducto.precio }}
      
      </ion-card-title>
    </ion-card-header>
    <ion-card-title>
      <ion-button (click)="AñadirAlCarrito()">Añadir al carrito</ion-button>
    </ion-card-title>

  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camaperro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
