<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accesorios para perros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://www.amigales.cl/media/catalog/product/cache/e41c4201e1eb7e3f60e4abbd62ba2679/c/a/cama_oval.jpg" />
    <ion-card-header>
      <ion-card-title>CAMA PARA PERRO</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;">Esta suave y confortable cama con forma ovala y borde acolchado imita a un nido,
        generando que tu perro se sienta protegido
        y pueda acurrucarse. Ideal para perros small o de tamaño pequeño.
      
        <br><br><br>
        $29.990
      
      </ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">camaperro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
