<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accesorios para perros</ion-title>
    <ion-button color="secondary" slot="end">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Carrito de compras</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let x of listadoCarrito">
          <div *ngFor="let p of listadoProducto">
            <div *ngIf="p.id===x.idProducto">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" [src]="p.img" />
              </ion-thumbnail>
              <ion-label>{{ p.nombre_producto }} <ion-button (click)="EliminarPd(x)" color="secondary" slot="end">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button> </ion-label>
              <ion-label>$ {{ p.precio }}</ion-label>
              <ion-label slot="end"></ion-label>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>SubTotal:</ion-label>
          <ion-label slot="end">$ {{ subtotal }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">carrito</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>