<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goToeditarpd()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Editar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/I/41c9taryhSL._SL500_.jpg" />
    <ion-card-header>
      <ion-card-title>COMEDERO PARA PERRO</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;">Bonve Pet 2x400ML Comedero para Perro 
        de Acero Inoxidable con Base de Silicona Antideslizante, 2 Cuencos Comedero para Comida y Agua.
        <br><br><br>
        $12.990
        <ion-avatar slot="end">
          <ion-button>
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-avatar>
      </ion-card-title>
    </ion-card-header>
    <ion-card-title>
      <ion-button (click)="goToproductoed()" color="secondary"><ion-icon name="pencil"></ion-icon></ion-button>
    </ion-card-title>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">edcomederoperro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
