<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="centrado">
      <ion-button (click)="goToeditPd()" color="secondary">Lista productos</ion-button>
      <br>
      <ion-button (click)="goToAddPd()" color="secondary">Agregar productos</ion-button>
      <br>
      <ion-button (click)="goTologin()" color="secondary">Cerrar Sesión</ion-button>
    </div>
  <br>
  <br>
  <br>
  <h2>Lista colaboradores</h2>
  <div *ngFor="let x of users" >
    <ion-card>
      <ion-card-content>
        {{ x.name }}
        <br>
        {{ x.email }}
      </ion-card-content>
    </ion-card>
  </div>
  </ion-content>