<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-button (click)="goToProductos()" color="secondary" expand="full">Productos</ion-button>
    <ion-button (click)="goTologin()" color="secondary" expand="full">Cerrar Sesión</ion-button>
    <ion-button (click)="goToeditarperfil()" color="secondary" id="modal-trigger">Editar perfil</ion-button>
  </div>
 <ion-router-outlet id="menu-content"></ion-router-outlet>

</ion-content>