<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goToeditarpd()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Editar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-title>
        Modificar Producto
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input [(ngModel)]="producto.nombre_producto" label="Nombre Producto" label-placement="floating"></ion-input>
      <br />
      <ion-input [(ngModel)]="producto.descripcion" label="Descripcion" label-placement="floating"></ion-input>
      <br />
      <ion-input [(ngModel)]="producto.precio" label="Precio" label-placement="floating"></ion-input>
      <br />
      <ion-item>
        <ion-select label="Categoria" label-placement="floating" [(ngModel)]="producto.categoria">
          <ion-select-option *ngFor="let x of categorias" [value]="x.id_categoria">{{x.nombre_categoria}}</ion-select-option>
        </ion-select>
      </ion-item>
      <br />
      <ion-button (click)="takePicture()">Cambiar imagen</ion-button>
      <img [src]="fotoN" alt="perro" style="width: 200px;height: 250px;">
    </ion-card-content>
    <div style="text-align: center;">
    <ion-button color="danger" (click)="modificar()">Modificar</ion-button>
  </div>
  </ion-card>
</ion-content>
