<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="centrado">
      <ion-button id="modal-trigger" color="secondary">Información de perfil</ion-button>
    </div>
    <ion-modal trigger="modal-trigger" #modal>
      <ng-template>
        <ion-header>
          <ion-toolbar color="secondary">
            <ion-title>Datos de tu cuenta</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()"><ion-icon name="close-outline"> </ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-thumbnail class="image-center" class="centrado1" width-80>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-card class="centrado2" slot="start">
          <ion-card-content>
            Nombre:
            Mauricio
            <br><br>
            Apellidos:
            Marquez Gutierrez
            <br><br>
            Correo: Mau_margutierrez@gmail.com
            <br><br>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ion-modal>
  </ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cuenta</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>