<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="centrado">
    <img *ngIf="image" [src]="image" alt="image" style="width: 100%;max-width: 250px;">
  </div>
  <ion-button (click)="takePicture()">
  <ion-icon name="pencil-outline" class="centrado3"></ion-icon>
</ion-button>
  <ion-item class="centrado1">
    <ion-label> Nombre : {{usuario.nombre}} </ion-label>
  </ion-item>
  <ion-item class="centrado1">
    <ion-label> Apellido : {{usuario.apellido}}</ion-label>
  </ion-item>
  <ion-item class="centrado1">
    <ion-label> Correo : {{usuario.correo}}</ion-label>
  </ion-item>
  <div class="centrado">
    <ion-button (click)="goToeditarperfil()" color="secondary">Editar perfil</ion-button>
  </div>
</ion-content>