.image-center{
    margin:0 auto;
    
  }

  ion-thumbnail {
    position: initial;
    --size: 140px;
    --border-radius: 8px;
  }

  .centrado{
    text-align: center;
    position: initial;
    bottom: 0;
    left: 0; 
    top: 0;
    margin:80px;
  }

  .centrado1{
    text-align: center;
    bottom: 0;
    left: 0; 
    top: 0;
    margin:10px;
  }
  .centrado2{
    text-align: start;
    bottom: 0;
    left: 0; 
    top: 0;
    margin:170px;
  }
