<ion-app>
  <ion-menu menuId="end" contentId="menu-content">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>HappyFootPrints</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-menu-toggle>
        <ion-button color="secondary" (click)="goToInicio()" size="default" expand="block"><ion-icon
            name="home-outline"> </ion-icon> Inicio</ion-button>
      </ion-menu-toggle>
  
      <ion-menu-toggle>
        <ion-button color="secondary" (click)="goToPerros()" size="default" expand="block"><ion-icon name="paw-outline">
          </ion-icon> Perros</ion-button>
      </ion-menu-toggle>
  
      <ion-menu-toggle>
        <ion-button color="secondary" (click)="goToGatos()" size="default" expand="block"><ion-icon name="logo-octocat">
          </ion-icon> Gatos</ion-button>
      </ion-menu-toggle>
  
      <ion-menu-toggle>
        <ion-button color="secondary" (click)="goToCuenta()" size="default" expand="block"><ion-icon
            name="person-outline"> </ion-icon> Cuenta</ion-button>
      </ion-menu-toggle>
  
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="menu-content"></ion-router-outlet>

  
</ion-app>