<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accesorios para perros</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://easycl.vtexassets.com/arquivos/ids/340090/1255099-01.jpg?v=637532902663630000" />
    <ion-card-header>
      <ion-card-title>CASA PARA PERRO</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;">Sin tornillos, 100% clic, resistente a la intemperie, 
        ideal para la mayoría de perros, pigmento libre de materiales pesados.
      
        <br><br><br>
        $52.990
      
      </ion-card-title>
    </ion-card-header>

  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">casaperro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
