<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accesorios para gatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://falabella.scene7.com/is/image/Falabella/gsc_121781502_3181716_1?wid=800&hei=800&qlt=70" />
    <ion-card-header>
      <ion-card-title>CASA PARA GATO</ion-card-title>
      <br>
      <ion-card-title style="font-size: larger;">Casa para gatos cachorros.
        Ayuda a mantener a sus pequeños calentitos, cubriéndolos del frío con cojín extraíble.        
        Plegable, fácil de armar y desarmar para llevarla a cualquier lugar que desee.        
        La parte de abajo es antideslizante.
        <br><br><br>
        $45.990
      
      </ion-card-title>
    </ion-card-header>
    <ion-card-title>
      <ion-button >Añadir al carrito</ion-button>
    </ion-card-title>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">casagato</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
