<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      HappyFootPrints
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <div class="contenedor-centro">
    <img src="https://i.pinimg.com/originals/f5/ce/16/f5ce16422edbc1cf4711eca8660837cd.gif" alt="xd">
</div>
</ion-content>

