<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goTologin()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarse</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="xd" src="../assets/img/InicioKJSDKSJD.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Datos</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <form [formGroup]="formularioReg">
        <ion-label type="text" label="Nombres" label-placement="floating" fill="solid" placeholder="Nombre"></ion-label>
        <ion-input formControlName="nombre" [(ngModel)]="pNombre" type="text" label="Nombre" label-placement="floating" fill="solid"></ion-input>
        <div [hidden]="nomUser?.valid || nomUser?.pristine ">
          <span *ngIf="nomUser?.errors?.['required']">
            El nombre de usuario es requerido.
          </span>
          <span *ngIf="nomUser?.errors?.['minlength']">
            El nombre debe tener un minimo de 5 caracteres.
          </span>
        </div>
        <br>
        <ion-input formControlName="apellido" [(ngModel)]="pApellido" type="text" label="Apellidos" label-placement="floating" fill="solid"
          placeholder="Apellido"></ion-input>
          <div [hidden]="apeUser?.valid || apeUser?.pristine ">
            <span *ngIf="apeUser?.errors?.['required']">
              El apellido es obligatorio
            </span>
            <span *ngIf="apeUser?.errors?.['minlength']">
              El nombre debe tener un minimo de 5 caracteres.
            </span>
          </div>
        <br>
        <ion-input formControlName="correo" [(ngModel)]="pCorreo" type="text" label="Correo" label-placement="floating" fill="solid"
          placeholder="alguien@gmail.com"></ion-input>
          <div [hidden]="mailUser?.valid || apeUser?.pristine ">
            <span *ngIf="mailUser?.errors?.['required']">
              El correo es obligatorio
            </span>
            <span *ngIf="mailUser?.errors?.['email']">
              El correo debe ser válido.
            </span>
          </div>
        <br>
        <ion-label label="Contraseña" label-placement="floating" fill="outline"
          placeholder="Contraseña"></ion-label>
        <ion-input formControlName="contrasena" [(ngModel)]="pContra" type="password" label="Contraseña" label-placement="floating" fill="solid"></ion-input>
        <div [hidden]="pwdUser?.valid || pwdUser?.pristine ">
          <span *ngIf="pwdUser?.errors?.['required']">
            La contraseña es obligatoria.
          </span>
          <span *ngIf="pwdUser?.errors?.['minlength']">
            La contraseña permite un minimo de 8 caracteres.
          </span>
          <span *ngIf="pwdUser?.errors?.['maxlength']">
            La contraseña permite un maximo de 15 caracteres.
          </span>
          <span *ngIf="pwdUser?.errors?.['pattern']">
            La contraseña requiere un numero.
            La contraseña requiere una minuscula.
            La contraseña requiere una mayuscula.
            La contraseña requiere un caracter especial.
          </span>
        </div>
        <br>
        <ion-label label="Confirmar contraseña" label-placement="floating" fill="outline"
          placeholder="Contraseña"></ion-label>
        <ion-input formControlName="confirmar_contrasena" [(ngModel)]="pConContra" type="password" label="Confirmar contraseña" label-placement="floating" fill="solid"></ion-input>
        <div [hidden]="conpwdUser?.valid || conpwdUser.pristine ">
          <span *ngIf="conpwdUser.errors?.['required']">
            Confirmar contraseña es obligatoria.
          </span>
        </div>
        <br>
        <ion-button (click)="ingresar()" [disabled]="formularioReg.invalid" mat-raised-button color="secondary">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>