<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goTologin()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarse</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="xd" src="../assets/img/InicioKJSDKSJD.jpg" />
    <ion-card-header>
      <ion-card-title class="ion-text-center">Datos</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <form [formGroup]="formularioR">
      <ion-input type="text" label="Nombres" 
      label-placement="floating" fill="solid" 
      placeholder="Nombre"></ion-input>
      <br>
      <ion-input type="text" label="Apellidos" 
      label-placement="floating" fill="solid" 
      placeholder="Apellido"></ion-input>
      <br>
      <ion-input type="text" label="Ingresa tu correo" 
      label-placement="floating" fill="solid" 
      placeholder="alguien@gmail.com"></ion-input>
      <br>
      <ion-input type="password" label="Contraseña" 
      label-placement="floating" fill="outline" 
      placeholder="Contraseña"></ion-input>
      <br>
      <ion-input type="password" label="Confirmar contraseña" 
      label-placement="floating" fill="outline" 
      placeholder="Contraseña"></ion-input>
      <br>
      <ion-button (click)="goTologin()" 
      mat-raised-button color="secondary">Registrarse</ion-button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>
